@import 'common'

#home
    width: $sidebar
    text-align: right
    position: fixed
    padding: 0
    margin-left: 5em
    padding-right: 1em
    top: 25vh
    p
        font-family: $title-font
        font-size: larger


ul.menu
    display: flex
    flex-flow: column
    justify-content: right
    justify-items:right
    text-align: right
    row-gap: 2em
    padding: 0
    margin-top: 3em
    a
        position: relative
        color: $primary-light
        background-color: $accent
        background-image: linear-gradient(to bottom right, $accent, $accent2)
        padding: 0.5em
        @include card
        &.active
            padding-right: 1.5em
            right: -1em
        text-align: right
        border-bottom: none

ul
    list-style-type: none
    padding: 0

a
    color: $primary
    text-decoration: none
    &.hyperlink
        padding-bottom: 1px
        border-bottom: 1px dotted
        &:hover
            color: $accent

#site 
  height: 80vh

#page
    margin-top: 8em
    left: $sidebar
    margin-left: 5em
    padding: 5em
    align-self: start
    width: auto
    overflow: auto
    position: absolute
    right: 0
    ul li
        margin-bottom: 0.3em


#social-links
    a.hyperlink
        font-weight: bold
        margin-left: 0.5em

h1
    text-align: right
    font-size: 4em
h2
    font-size: 3em
h3
    margin-top: 2rem
    font-size: 2em
    margin-bottom: 2rem
h1, h2, h3, h4, h5, h6
    font-family: $title-font
    font-weight: normal
h4, h5, h6
    font-family: $body-font

body
    font-family: $body-font
    margin: 0
    background-color: $background
    color: $primary

.gallery
    display: flex
    gap: 2em
    flex-wrap: wrap
    justify-content: center
    align-content: center

.gallery-grid
    flex-direction: row

.gallery-item
    @include card
    display: flex
    flex-flow: column
    gap: 0.5em
    height: auto
    padding: 12px
    background-color: $primary-light
    text-align: center
    .caption
        margin: 0

.gallery-item-thumb
    display: flex
    align-items: center
    justify-items: center
    background-color: $background
    $size: 200px
    min-height: $size/2
    width: $size
    border: 1px solid #ddd
    border-radius: 2px
    img
        max-height: $size
        max-width: $size

.gallery-horizontal
    flex-direction: column
    .gallery-item
        font-size: larger
        width: 100%
        flex-flow: row
        align-items: center
        text-align: left
        .caption
            margin-left: 0.25em

::selection
    background: #ea9


@media (max-width: 1300px)
    #site
        display: flex
        flex-direction: column
        padding: 2em
        font-size: larger
    #home
        position: static
        text-align: center
        width: initial
        margin: 0
        h1
            text-align: center
        .menu
            flex-direction: row
            justify-content: space-evenly
    #page
        left: 0
        position: static
        margin-top: 1em
        margin-left: 0
        overflow: initial
        align-self: center
        padding: 0
        text-align: center
        padding-bottom: 2em
        .gallery-item
            width: 100%
            
@media (max-width: 500px)
    .gallery-horizontal .gallery-item
        flex-direction: column

@media (max-width: 300px)
    #home .menu
        flex-direction: column
        align-items: center
    #home #social-links
        display: flex
        flex-direction: column
        gap: 1em
        align-items: center